body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background: #efeff5;
}

.group {
  clear: both;
  content: "";
  display: block;
  width: 0;
}

.game-container {
  position: relative;
  padding: 20px 0 0 10px;
  width: 600px;
  margin: 0 auto;
}

.game-title {
  width: 600px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

#sound {
  float: right;
}

#sound > img {
  width: 25px;
  display: block;
}

.red {
  color: #cc3300;
}

.blue {
  color: #003399;
}

.links {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-left: -18px;
}

.link-list > li {
  display: inline;
  padding: 0 10px 0 10px;
}

.link-list > li > a {
  font-size: 14px;
  color: #808080;
  text-decoration: none;
}

.link-list > li > a:hover {
  color: #cc3300;
  cursor: pointer;
}

#canvas-container {
  position: relative;
  width: 540px;
  height: 540px;
  float: left;
  padding: 40px 20px 20px 50px;
}

.border-start {
  border: 2px solid #006600;
  border-radius: 50px;
  box-shadow: 1px 1px 2px #888888;
}

.red-border {
  border: 4px solid #cc3300;
  border-radius: 50px;
}

.blue-border {
  border: 4px solid #003399;
  border-radius: 50px;
}

#gameBoard {
  border: 1px solid black;
  background: #fff7e6;
}

#declare-winner {
  position: absolute;
  left: 161px;
  top: 543px;
}

.score-board {
  position: absolute;
  left: 67px;
  top: 125px;
  width: 485px;
}

.winner-declaration {
  text-align: center;
}

#red-score, #red-score-amount  {
  color: #cc3300;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.7px;
}

#blue-score, #blue-score-amount {
  color: #003399;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 700;
}

#reds {
  float: left;
}

#blues {
  float: right;
}

#winner-is {
  letter-spacing: 0.9px;
  font-weight: 700;
  font-size: 22px;
}

.restart {
}

#restart-button {
  padding-left: 60px;
}

#restart-button > input {
  width: 150px;
  font-size: 18px;
  font-weight: 500;
  color: #0000ff;
  background: #fff3e6;
  border: 1px solid #994f00;
  border-radius: 5px;
}

#restart-button > input:hover {
  background: #ffe6cc;
  color: #e60000;
  border: 1px solid #994f00;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #888888;
}

.red-winner {
  color: #e60000;
}

.blue-winner {
  color: #0000ff;
}

.invisible {
  display: none;
}

#button > input {
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  color: #003399;
  background: #fff3e6;
  border: 1px solid #994f00;
  border-radius: 5px;
}

#button > input:hover {
  width: 200px;
  background: #ffe6cc;
  color: #e60000;
  border: 1px solid #994f00;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #888888;
}

.level-button {
  width: 80px;
  font-size: 14px;
  font-weight: 600;
  color: #003399;
  background: #fff3e6;
  border: 1px solid #994f00;
  border-radius: 5px;
  box-shadow: 0 2px grey;
}

.level-button:hover {
  cursor: pointer;
  background: #ffe6cc;
}

.pressed-level-button {
  width: 80px;
  font-size: 14px;
  font-weight: 600;
  color: #003399;
  background: #ffe6cc;
  border: 1px solid #994f00;
  border-radius: 5px;
  box-shadow: 0 1px #888888;
  transform: translateY(2px);
}

.game-rules {
  width: 500px;
}

#level-buttons {
  position: absolute;
  left: 183px;
  top: 480px;
  width: 450px;
}

.chose-player-buttons {
  position: absolute;
  left: 75px;
  top: 525px;
  width: 450px;
}

#left-button {
  float: left;
}

#right-button {
  float: right;
}

#title {
  font-size: 19px;
  margin: 0;
  color: #cc3300;
  font-weight: 700;
  text-align: center;
}

#rules {
  text-align: justify;
  font-size: 13px;
}

#rules-points {
  font-weight: 700;
  color: #cc3300;
}

#timer-container {
  position: absolute;
  top: 550px;
  left: 195px;
  text-align: center;
}

#timer {
  color: black;
  font-size: 22px;
}

.name {
  font-size: 12px;
  text-align: center;
}

.name > a {
  color: #808080;
  text-decoration: none;
}

.name > a:hover {
  color: #003399;
  text-decoration: none;
}
