body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background: #efeff5;
}

.group {
  clear: both;
  content: "";
  display: block;
  width: 0;
}

.game-container {
  position: relative;
  padding: 20px 0 0 10px;
  width: 900px;
  margin: 0 auto;
}

.links {
  position: absolute;
  left: 320px;
  top: 853px;
  padding: 0 20px 0 10px;
}

.link-list > li {
  display: inline;
  padding: 0 10px 0 10px;
}

.link-list > li > a {
  font-size: 12px;
  color: #808080;
  text-decoration: none;
}

.link-list > li > a:hover {
  color: #cc3300;
  cursor: pointer;
}


#canvas-container {
  position: relative;
  width: 840px;
  height: 840px;
  float: left;
  padding: 40px 20px 20px 50px;
}

.red-border {
  border: 4px solid #cc3300;
  border-radius: 50px;
}

.blue-border {
  border: 4px solid #003399;
  border-radius: 50px;
}

#gameBoard {
  border: 1px solid black;
  background: #fff7e6;
}

#declare-winner {
  padding: 30px;
  background: #ffffff;
  opacity: 1;
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  left: 252px;
  top: 340px;
  box-shadow: 3px 3px 6px #888888;
}

.score-board {
  position: absolute;
  left: 80px;
  top: 33px;
  width: 760px;
}

.winner-declaration {
  text-align: center;
}

#red-score, #red-score-amount  {
  color: #cc3300;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.7px;
}

#blue-score, #blue-score-amount {
  color: #003399;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 700;
}

#reds {
  float: left;
}

#blues {
  float: right;
}

#winner-is {
  letter-spacing: 0.9px;
  font-weight: 700;
  font-size: 28px;
}

.restart {
  text-align: center;
}

#restart-button {
  padding-left: 70px;
}

#restart-button > input {
  width: 200px;
  font-size: 23px;
  font-weight: 500;
  color: #0000ff;
  background: #fff3e6;
  border: 1px solid #994f00;
  border-radius: 5px;
}

#restart-button > input:hover {
  width: 200px;
  background: #ffe6cc;
  color: #e60000;
  border: 1px solid #994f00;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #888888;
}

.red-winner {
  color: #e60000;
}

.blue-winner {
  color: #0000ff;
}

.invisible {
  display: none;
}

#button > input {
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  color: #0000ff;
  background: #fff3e6;
  border: 1px solid #994f00;
  border-radius: 5px;
}

#button > input:hover {
  width: 200px;
  background: #ffe6cc;
  color: #e60000;
  border: 1px solid #994f00;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #888888;
}

.game-rules {
  width: 800px;
  padding: 0 0 50px 0;
}

.chose-player-buttons {
  position: absolute;
  left: 205px;
  top: 300px;
  width: 500px;
}

#left-button {
  float: left;
}

#right-button {
  float: right;
}

#title {
  font-size: 19px;
  color: #003399;
  font-weight: bold;
  text-align: center;
}

#rules {
  text-align: justify;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 27px;
}
